.container {
    display: flex;
    justify-content: center;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #bbbbbb;
    border-radius: 5px;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}