.container {
    margin: 50px 0;
    max-width: 1170px;
}

.logoImage {
    max-width: 600px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4%;
}

@media (max-width: 770px) {
    .logoImage {
        max-width: 100%;
    }
}