.container {
  background-color: #7f7fff;
  width: 100%;
  margin-top: 2%;
}

.text {
  text-align: center;
  color: #ffffff;
}

.text > a {
  text-decoration: none;
  color: #484794;
}
.text > a:hover {
  font-weight: bold;
}
