html {
  font-family: "Roboto", sans-serif !important;
}

body {
  background-color: rgb(230, 230, 230);
  /* font-family: "Montserrat", sans-serif; */
}

.logoImage {
  width: 60%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
