html {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #dedede;
  /* font-family: "Montserrat", sans-serif; */
  margin: 0;
}

.logoImage {
  width: 60%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5%;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #8a8a8a;
}